body{
    font-family:'Courier New', Courier, monospace;
}
h1, h2, h3{
    color:white;
    margin:1rem;
    font-size:2rem;
    font-weight:bold;
}
header{
    background-color:#FCC89B;
    color:white;
    font-weight:bold;
}
main{
    background-color:pink;
}
ul,ol{
    color:#f54298;
    margin:1rem;
    padding:1rem;
    font-size:1rem;
}
p{
    color:#f54298;
    margin:1rem;
    padding:1rem;
    font-size:1rem;
}
h1{
    text-align:center
}
nav{
    text-align:center
}
img{
    max-width:100%;
}